[Desktop Entry]
Type=Application
Exec=otpclient
Icon=com.github.paolostivanin.OTPClient
Keywords=OTP;TOTP;HOTP;2FA;Authentication
Terminal=false
Name=OTPClient
Comment=GTK+ TOTP and HOTP client
Categories=GNOME;GTK;Security;Utility;
StartupWMClass=otpclient
StartupNotify=true
